<table class="table table-striped table-hover " id="errorTable">
    <thead>
        <tr>
            <th>Hozzáadva</th>
            <th>Kategória</th>
            <th>Rövid ismertető</th>
            <th>Műveletek</th>
        </tr>   
    </thead>
    <tbody>
        {{#each errors}}
        <tr>
            <td>{{date}}</td>
            
            <td>{{location}}</td>
            <td><span class="badge">{{numberOfMessages}}</span> {{description}}</td>
            
            <td>
                {{link-to "Megnéz" "errors.view" this class="btn btn-default btn-sm"}}
                {{link-to "Módosít" "errors.edit" this class="btn btn-default btn-sm"}}
                
                <button {{action "deleteError" this}} class="btn btn-default btn-sm">Eltávolít</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
